.navbar{
    background-color: #E1F5A9;
    color: #4B610B;
}

.quemSomos{
    background-color: #F2F2F2;
    padding-top:  30px;
    padding-bottom: 30px;
}

.parceiros{
    padding-top:  30px;
    padding-bottom: 30px;
    background-color: #F2F2F2;
}
